.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    margin-right: 1em;
}

.title {
    font-size: 36px;
    color: var(--white)
}