.container > div {
    margin-bottom: 2em
}

.centerDropdown {
    display: none
}

@media(max-width: 850px){
    .centerDropdown {
        display: block
    }
    .centerDropdown > select {
        padding: 8px;
        width: 100%;
    }
    .centerSelect {
        display: none
    }
}