.container {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary)
}

.environmentBadge {
    position: absolute;
    top: 0;
    padding: 1em;
    left: 0;
}