.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0.5em;
    background-color: var(--white)
}

.container:hover {
    border: 1px solid var(--secondary)
}
.container.even {
    background-color: var(--light-grey)
}