:root {
  --primary: #32aeb0;
  --primary-light: #62bebd;
  --secondary: #ffb208;
  --accent: #ee534f; 
  --light-grey: #eee;
  --white: #fff;
  --black: #000;
  --translucent-dark: #00000094;
  --translucent-light: #fff3;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: inherit
}

html, body, #root {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
