.container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.title {
    font-size: var(--title-font);
    color: var(--secondary);
}

.instructions {
    margin-bottom: 0.25em;
}
.buttonHolder {
    display: flex;
    justify-content: flex-end;
}

.buttonHolder > button {
    border: none;
}
.modal {
    position: absolute;
    top: 35%;
    left: 30%;
    right: 30%;
    bottom: 35%;
    background-color: var(--white);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--translucent-dark);
  }

  