.screenContainer {
    padding: 1em;
    display: inline-block;
    width: 80%;
    height: calc(100vh - (40px + 2em));
    overflow: auto;
    transition: width 0.25s
}

@media(max-width: 850px){
    .screenContainer {
        width: 100%;
    }
}